.tooltipTriggerContainer {
  position: relative;
}

.tooltipContainer {
  background: #2c2c2c;
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  position: absolute;
  left: 1.5rem;
  top: -0.5rem;
  width: 12rem;
  max-width: max-content;
}

.tooltipContainer.lightBackground {
  background: #fff;
  color: #000;
  border: solid 0.0625rem #000;
}

.tooltipContainer.tooltipContainerModal {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.tooltipContainer::before {
  content: '';
  position: absolute;
  left: -0.375rem;
  top: 0.75rem;
  border-style: solid;
  border-width: 0.375rem 0.375rem 0.375rem 0;
  border-color: transparent #2c2c2c transparent transparent;
}

.tooltipContainer p:first-child {
  margin-top: 0;
}

.tooltipContainer p:last-child {
  margin-bottom: 0;
}

.tooltipContainer.tooltipContainerModal p {
  margin-top: 0;
}

.tooltipCloseIconButton {
  align-self: flex-end;
  margin-right: -0.5rem;
  margin-bottom: 1rem;
}

.tooltipBackgroundOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
